
/* TEXT styles */

body {
    font-family: 'PT Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rufina', serif;
    margin-top: 0;
    margin-bottom: 0;
}

b, strong {
    text-decoration-line: underline;
    padding: 0.1em;
}

.navbar-brand {
    /* font-family: 'Bungee Outline', cursive; */
    font-family: 'Nanum Pen Script', cursive;
    font-size: xx-large;
}

.sec-head {
    padding: 20px 0;
}

.card-subtitle {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.card-text {
    padding: 1rem 0;
}

/* COLOURS  */

.clr-primary {
    color: #b2ffa9;
}

:root {
    --bs-light: #d4f2d2;
    --bs-primary: #66c7f4; 
    --bs-success: #b2ffa9;
    --ggate: #bb4430;
    --earthblue: #92afd7; 
    --mydark: #232c33; 
}


/* ===== ELEMENT spacing and styles ==== */

/* ~~~ general classes ~~~ */

.hide {
    display: none;
}

.btn {
    border-radius: 0;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.btn-dark {
    background-color: var(--mydark);
    border-color: var(--mydark);
}

.btn-primary {
    color: var(--bs-primary);
}

.form-control {
    border-radius: 0;
}

.card {
    border-radius: 0;
}

.alert {
    border-radius: 0;
}

.navbar {
    background-image: url("/static/site-images/funky-lines.png");
}

/* ~~~ for specific elements ~~~ */

/* #header-bar div {
    display: inline-block;
}

#header-bar h1, p {
    margin: 5px 15px;
} */

.footer {
    background-image: url("/static/site-images/vintage-concrete.png");
    /* background-color: var(--mydark); */
    opacity: 0.6;
    filter: grayscale(65%);
    height: 10vh;
}

#home-body {
    height: 80vh;
}

#home-form {
    background-color: white;
    padding: 20px 30px;
    border-style: ridge;
    border-color: darkgray;
}

#user-photo {
    width: 100px;
    height: auto;
    border: solid 1px;
    margin: 0px 30px;
}

#header-div {
    margin: 0 2rem;
}

#head-profile {
    width: 10vw;
    text-align: right;
}

#header-profile {
    position: absolute;
    right: 20px;
    top: 20px;
}

#header-profile img {
    width: 30px;
    height: auto;
    vertical-align: middle;
}

#btn-header-go {
    width: 10rem;
}

#city-photo img {
    width: 80vw;
}

#passport {
    object-fit: contain;
}

#saved-cards div {
    padding-left: 0;
    padding-right: 0;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 350px;
}

#map {
    height: 400px;
}

/* === misc other / dep === */

div.scorebox {
    display: inline-block;
    border: solid 1px;
    padding: 15px;
    margin: 10px;
}