
/* TEXT styles */

body {
    font-family: 'PT Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rufina', serif;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-brand {
    /* font-family: 'Bungee Outline', cursive; */
    font-family: 'Nanum Pen Script', cursive;
    font-size: xx-large;
}

.sec-head {
    padding: 20px 0;
}

.card-subtitle {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.card-text {
    padding: 1rem 0;
}

/* COLOURS  */

.clr-primary {
    color: #b2ffa9;
}

/* ===== ELEMENT spacing and styles ==== */

/* ~~~ general classes ~~~ */

.hide {
    display: none;
}


/* ~~~ for specific elements ~~~ */

/* #header-bar div {
    display: inline-block;
}

#header-bar h1, p {
    margin: 5px 15px;
} */

.footer {
    background-color: #b2ffa9;
    height: 10vh;
}

#home-body {
    height: 80vh;
}

#home-form {
    background-color: white;
    padding: 20px 30px;
}

#user-photo {
    width: 100px;
    height: auto;
    border: solid 1px;
    margin: 0px 30px;
}

#header-profile {
    position: absolute;
    right: 20px;
    top: 20px;
}

#header-profile img {
    width: 30px;
    height: auto;
    vertical-align: middle;
}

#city-photo img {
    width: 80vw;
}

#passport {
    object-fit: contain;
}

#saved-cards div {
    padding-left: 0;
    padding-right: 0;
}

/* === misc other / dep === */

div.scorebox {
    display: inline-block;
    border: solid 1px;
    padding: 15px;
    margin: 10px;
}