
div.scorebox {
    display: inline-block;
    border: solid 1px;
    padding: 15px;
    margin: 10px;
}

div.row {
    margin: 10px;
}

div.row div {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.hide {
    display: none;
}

#map {
    height: 400px;
    width: 50%;
}

#header-bar div {
    display: inline-block;
}

#header-bar h1, p {
    margin: 5px 15px;
}

#user-photo {
    width: 100px;
    height: auto;
    border: solid 1px;
    margin: 0px 30px;
}

#header-profile {
    position: absolute;
    right: 20px;
    top: 20px;
}

#header-profile img {
    width: 30px;
    height: auto;
    vertical-align: middle;
}

#city-photo img {
    width: 80vw;
}