<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <title>{% block title %} REPLACE TITLE {% endblock %}</title>
</head>
<body>
    <!-- header search bar -->
    <div id="header-bar">

        <div class="header" id="site-logo-div">
            <h1><a href="/"><< Wander Vision >></a></h1>
        </div>

        {% if not active_page == "index" %}
        <div class="header">
            <form id="header-search" action="/city-search">
                <input type="text" name="cname" id="header-search-box" placeholder="Enter a city name">
                <input type="submit" value="go!">
            </form>
        </div>
        {% endif %}
        
        <p>tagline of the website</p>
        <hr>

    </div>

    {% block body %} REPLACE BODY CONTENT {% endblock %}
    
</body>
</html>