{% extends "base.html" %}

{% block title %}  {% endblock %}

{% block body %}

<style>
    body {
        height: 100vh;
        background-image: url("/static/site-images/map-bg/dan-wayman-slcC-EkTo68-unsplash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    h2 {
        margin-bottom: 15px;
    }
</style>

<div class="container-fluid" id="home-body">

    <div class="container">
        <div class="row">
        <form action="/city-search" class="col-4 position-absolute top-50 start-50 translate-middle"
              id="home-form">
            <h2><label for="city-search">Where in the world would you like to go?</label></h2>
            <input type="text" name="city-search" id="homepage-search">
            <button class="btn btn-outline-success" type="submit">Take me there</button>
        </form>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %} {% endblock %}

{% set active_page = "index" %}