{% extends "base.html" %}

{% block head %}{% endblock %}

{% block title %}  {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-4" id="profile-left">
            <h2>Hi, wanderer!</h2>
            <div class="row card" style="width: 18rem;">
                <img src="/static/user-images/hair_innercolor.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{ user_dict.first }} {{ user_dict.last }}</h5>
                <p class="card-text">
                    <strong>email:</strong> {{ user_dict.email }} <br>
                    <strong>current city:</strong> 
                    {% if user_dict.current_city %} 
                    {{user_dict.current_city}} <a href="">(edit city)</a>
                    {% else %} <a href="">(add city)</a>
                    {% endif %}
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <h3>city passport</h3>
              <div class="row">
                <img src="/static/site-images/passport_rinji.png" alt="passport image" id="passport" style="width: 18rem;">
            </div>
        </div>
        <div class="col-8">
            <h2>Your World</h2>
            <div id="map" class="row"></div>
            <h2>Your Cities</h2>
            <div class="row row-cols-md-3" id="saved-cards">
                {% for city in user_dict.saved %}
                <div class="card text-center">
                    <h4 class="card-header">{{ city[0] }}</h6>
                    <div class="class-body py-3">
                    <!-- <h4 class="card-title">{{ city[0] }}</h4> -->
                    <h6 class="card-subtitle text-muted">{{ city[3] }}</h6>
                    <h6 class="card-text"><a href="/city-info/{{ city[2] }}/{{ city[0] }}">view city page</a></h6>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>    
</div>

<hr class="featurette-divider">

        <div><ul> saved cities: 
                {% for city in user_dict.saved %}
                    <li><a href="/city-info/{{ city[2] }}/{{ city[0] }}">
                        {{ city }}
                    </a></li>
                {% endfor %}
        </ul></div>


{% endblock %}

{% block scripts %} 

<script>
    let userObj = {{ user_dict|tojson }};
</script>


<script src="/static/js/ajaxMap.js"></script>
<script
  async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVRRwEZBjAe9DnCGtwPZs-imnBPhpMuGo&callback=initMap">
</script>
{% endblock %}

{% set active_page = "profile" %}