{% extends "base.html" %}

{% block head %}{% endblock %}

{% block title %}  {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-4" id="profile-left">
            <h2 class="sec-head">Hi, wanderer!</h2>
            <div class="card p-3" id="profile-box">
                <img src="/static/user-images/hair_innercolor.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{ user_dict.first }} {{ user_dict.last }}</h5>
                <p class="card-text">
                    <strong>email:</strong> {{ user_dict.email }} <br>
                    <strong>current city:</strong> 
                    {% if user_dict.current_city %} 
                    {{user_dict.current_city}} <a href="">(edit city)</a>
                    {% else %} <a href="">(add city)</a>
                    {% endif %}
                </p>
                <a href="#" class="btn btn-primary">Edit details</a>
                </div>
              </div>
              <!-- <h3 class="sec-head">city passport</h3> -->
              <div class="row">
                <img src="/static/site-images/passport_rinji.png" alt="passport image" id="passport" style="width: 18rem;">
            </div>
        </div>
        <div class="col-8">
            <h2 class="sec-head">Your World</h2>
            <div id="map" class="row"></div>
            <h2 class="sec-head">Your Cities</h2>
            <div class="row row-cols-md-3" id="saved-cards">
                {% for city in user_dict.saved %}
                    {% if city[5] == "future" %}
                    <div class="col">
                    <div class="card text-center m-2">
                        <h4 class="card-header">{{ city[0] }}</h4>
                        <div class="class-body py-2">
                        <!-- <h4 class="card-title">{{ city[0] }}</h4> -->
                        <h6 class="card-subtitle text-muted py-3">{{ city[3] }}</h6>
                        <h6 class="card-text py-1"><a href="/city-info/{{ city[2] }}/{{ city[0] }}">view city page</a></h6>
                        </div>
                        <!-- <div class="card-footer text-muted">{{ city[3] }}</div> -->
                    </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <h3 class="sec-head">... and These Places You've Lived In</h3>
            <div class="row row-cols-md-3" id="saved-cards">
                {% for city in user_dict.saved %}
                    {% if city[5] == "past_local" %}
                    <div class="col">
                        <div class="card text-center m-2">
                            <h4 class="card-header">{{ city[0] }}</h4>
                            <div class="class-body py-2">
                            <!-- <h4 class="card-title">{{ city[0] }}</h4> -->
                            <h6 class="card-subtitle text-muted py-3">{{ city[3] }}</h6>
                            <h6 class="card-text py-1"><a href="/city-info/{{ city[2] }}/{{ city[0] }}">view city page</a></h6>
                            </div>
                        </div>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
    </div>    
</div>

{% endblock %}

{% block scripts %} 

<script>
    let userObj = {{ user_dict|tojson }};
</script>


<script src="/static/js/ajaxMap.js"></script>
<script
  async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVRRwEZBjAe9DnCGtwPZs-imnBPhpMuGo&callback=initMap">
</script>
{% endblock %}

{% set active_page = "profile" %}